<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<link rel="stylesheet"
	href="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script
	src="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
<script th:src="@{/app.js}"></script>

</head>
<body>
	<h3>Product list</h3>
	<div ng-controller="ProductCtrl as vm">
		<div ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-grouping></div>
	</div>
</body>
</html>